.container {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.logo {
  text-align: center;
}

.pageTitel {
  display: none;
}

.loginDesctop {
  display: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #ff8626;
  }

  .logo {
    text-align: center;
  }

  .pageTitel {
    display: block;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #ffffff;
    margin: 70px 0 40px 0;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .signIn {
    min-width: 100%;
    margin: 0 auto;
  }

  .logo {
    text-align: left;
    padding-left: 120px;
  }

  .signInForm {
    margin-top: 44px;
  }

  .pageTitel {
    display: none;
  }

  .loginDesctop {
    display: block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }

  .desktopTitel {
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #ffffff;
    margin: 80px 0 40px 0;
    text-align: center;
  }

  .authMain {
    position: absolute;
    min-width: 94%;
    min-height: 39%;
    left: 61px;
    z-index: 2;
    background-image: url("../../assets/images/authPage/main.svg");
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    background-size: 100%;
    transform: matrix(0.98, 0, 0.19, 1, 0, 0);
  }

  .authPresents {
    position: absolute;
    width: 95%;
    height: 42%;
    left: 41px;
    top: 261px;
    z-index: 1;
    background-image: url("../../assets/images/authPage/presents.svg");
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    opacity: 0.8;
    background-size: 100%;
    transform: matrix(0.98, 0, 0.19, 1, 0, 0);
  }

  .authSasha {
    position: absolute;
    width: 96%;
    height: 40%;
    left: 20px;
    top: 308px;
    background-image: url("../../assets/images/authPage/sasha.svg");
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    opacity: 0.6;
    background-size: 100%;
    transform: matrix(0.98, 0, 0.19, 1, 0, 0);
  }
}
