.userInfoContainer {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userName {
  display: none;
  font-size: 22px;
  font-weight: 500;
}
.userPhotoContainer {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.userPhoto {
  width: 24px;
}
@media (min-width: 1200px) {
  .userInfoContainer {
    width: 255px;
  }
  .userName {
    display: inline;
  }
  .userPhotoContainer {
    width: 50px;
    height: 50px;
  }
  .userPhoto {
    width: 40px;
  }
}
