body {
  background-color: #e5e5e5;
}

.taskcontainer {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;

  align-items: center;
}

.taskheader {
  width: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.taskmain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.taskfamilynfo {
  width: 280px;

  display: block;
  text-align: center;
}

.tasksinfo {
  display: block;
  text-align: end;
  width: 280px;
}

@media (min-width: 768px) {
  .taskheader {
    width: 687px;
    margin-bottom: 49px;
  }
  .taskfamilynfo {
    width: 687px;
  }

  .tasksinfo {
    display: block;

    width: 687px;
  }
}

@media (min-width: 1250px) {
  /* .container {
      width: 1120px;
    } */
  .taskheader {
    width: 1219px;
    margin-bottom: 50px;
  }
  .taskmain {
    display: flex;
    justify-content: space-between;
    width: 1119px;
  }

  .taskfamilynfo {
    width: 345px;
  }

  .tasksinfo {
    display: block;
    width: 690px;
  }
}
