.container_presents {
    margin: 0 auto;
    position: relative;
    width: 320px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 18px -1px;
    &__close {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 15px;
        right: 15px;
        border: none;
        background-color: inherit;
        outline: none;
    };
  
}

.present_form {
    padding-top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    &__title {
        font-size: 22px;
        padding-bottom:30px ;
        font-family: 'Rubik';
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        border-radius: nullpx;
    };
    &__label {
        width: 280px;
        font-family: 'Rubik';
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        margin-bottom: 30px;
        color: #828282;
        position: relative;
    };
    &__input {
        position: relative;
        top: 10px;
        left: 0;
        border: 1px solid #BDBDBD;
        border-radius: 15px;
        display: block;
        width:280px;
        height: 44px;
        padding-left: 20px;
        font-size: 16px;
    };
    &__ball {
        position: relative;
        top: 10px;
        left: 0;
        border: 1px solid #BDBDBD;
        border-radius: 15px;
        display: block;
        width:170px;
        height: 44px;
        padding-left: 47px;
        font-size: 16px;
        &_star {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 35px;
            left: 25px;
            z-index: 1;
        }
    };

    &__upload_box {
        position: relative;
        top: 10px;
        left: 0;
        border: 1px solid #BDBDBD;
        border-radius: 15px;
        width:280px;
        height: 44px;
        font-size: 16px;
        &_input {
            width: 100%;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
        };
        &_text {
            position: absolute;
            top: 12px;
            left: 20px;
            color: #828282;
        };
        &_btn {
            position: absolute;
            text-align: center;
            padding-top: 12px;
            color: #fff;
            z-index: 2;
            width: 100px;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #FF8626;
            border: none;
            border-radius: 0 15px 15px 0;
        };
    }

    &__box_botton {
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__save {
            border: none;
            background-color: transparent;
            color: #828282;
            border: 1px solid #BDBDBD;
            border-radius: 20px;
            width: 220px;
            height: 44px;
            margin-bottom: 15px;
            &:hover {
                background-color: #FF8626;
                color: #fff;
                border: none;
            }
        };
        &__canceling {
            border: none;
            background-color: transparent;
            color: #828282;
            border: 1px solid #BDBDBD;
            border-radius: 20px;
            width: 220px;
            height: 44px;
            margin-bottom: 15px;
            &:hover {
                background-color: #FF8626;
                color: #fff;
                border: none;
            }
        };
    };
}





@media (min-width: 748px) {
    .container_presents {
        width: 575px;
        padding: 50px 60px 60px 60px;
        border-radius: 15px;
        box-shadow: 0 0 18px -1px;
    };

    .present_form {
        padding-top: 0;
        align-items: center;
        &__title {
            font-size: 26px;
            padding-bottom: 30px;
        };
        &__label {
            width: 340px
        };
        &__input {
            width:340px;
        };
        &__box_botton {
            flex-direction: row;
            justify-content: space-between;
        };
    };
}