body {
  background-color: #e5e5e5;
}

.presentcontainer {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  /* padding: 0 40px 0 40px; */

  align-items: center;
}
.presentheader {
  width: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.presentmain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.presentfamilynfo {
  width: 280px;

  display: block;
  text-align: center;
}

.presents {
  display: block;
  width: 280px;
  text-align: end;
  border: 3px solid purple;
}

@media (min-width: 768px) {
  .presentheader {
    width: 687px;
    margin-bottom: 49px;
  }
  .presentfamilynfo {
    width: 687px;
  }

  .presents {
    display: block;

    width: 687px;
  }
}

@media (min-width: 1250px) {
  /* .container {
      width: 1120px;
    } */
  .presentheader {
    width: 1220px;
    margin-bottom: 50px;
  }
  .presentmain {
    display: flex;
    justify-content: space-between;
    width: 1119px;
  }

  .presentfamilynfo {
    width: 345px;
  }

  .presents {
    display: block;
    width: 690px;
  }
}
