body {
  background-color: #e5e5e5;
}

.presentcontainer {
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  /* padding: 0 40px 0 40px; */

  align-items: center;
}
.presentheader {
  width: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.presentmain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.presentfamilynfo {
  width: 280px;

  display: block;
  text-align: center;
}

.presents {
  display: block;
  width: 280px;
  text-align: end;
}

.presents_header {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-bottom: 30px;
}

.presents_header-img {
  margin-right: 15px;

  width: 30px;
  height: 30px;
}

.presents_header-title {
  align-self: flex-end;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: capitalize;
  margin: 0;
}

.presents_list {
  width: 280px;
  margin-bottom: 30px;
}

.presents_button {
  display: flex;
  justify-content: center;
}

.presents_button-button {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  width: 220px;
  height: 44px;
  cursor: pointer;
  outline: none;
  background-color: #ff8626;
}

@media (min-width: 768px) {
  .presentheader {
    width: 687px;
    margin-bottom: 49px;
  }
  .presentfamilynfo {
    width: 687px;
  }

  .presents {
    display: block;

    width: 687px;
  }
  .presents_list {
    width: 690px;
  }

  .presents_button {
    justify-content: start;
  }
}

@media (min-width: 1250px) {
  /* .container {
      width: 1120px;
    } */
  .presentheader {
    width: 1220px;
    margin-bottom: 50px;
  }
  .presentmain {
    display: flex;
    justify-content: space-between;
    width: 1119px;
  }

  .presentfamilynfo {
    width: 345px;
  }

  .presents {
    display: block;
    width: 690px;
  }

  .presents_header {
    height: 40px;
  }

  .presents_header-img {
    width: 40px;
    height: 40px;
  }
  .presents_header-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }

  .presents_list {
    max-height: 285px;
    overflow-y: scroll;
  }
}
