.childtask {
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-radius: 20px;
  position: relative;
  transition: 250ms;
  background-color: #fff;
  margin-bottom: 15px;
  &:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }

  &__dots {
    position: absolute;
    top: 16px;
    right: 15px;
    display: flex;
    width: 16px;
    justify-content: space-between;
    cursor: pointer;

    &_dot {
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background-color: #bdbdbd;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;

    &_img {
      width: 30px;
      height: auto;
    }
    &_info {
      display: flex;
      width: 205px;
      justify-content: space-between;
      align-items: center;
    }
    &_text {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
    }
    &_mark {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url('../../assets/images/Star11.svg');
        top: -2px;
        left: -30px;
      }
    }
  }

  &__info {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;

    &_time {
      height: 57px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
      }

      &_value {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #333333;
      }
    }

    &_approve {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 67px;

      &_title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
      }

      &_buttons {
        display: flex;
        justify-content: space-between;

        &_btn {
          background: none;
          width: 40px;
          height: 40px;
          border: 1px solid #ffbe9d;

          border-radius: 15px;
          position: relative;
          transition: 250ms;
          cursor: pointer;

          &:hover {
            background-color: #ffbe9d;
          }

          &_check {
            width: 20px;
            height: 12px;
            transform: translate(-50%, -80%) rotate(-45deg);
            position: absolute;
            top: 50%;
            left: 50%;
            border-left: 2px solid #ff8626;
            border-bottom: 2px solid #ff8626;
          }
          &_cross {
            width: 22px;
            height: 2px;
            background-color: #ff8626;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            &2 {
              width: 22px;
              height: 2px;
              background-color: #ff8626;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.dropdownActive {
  display: none;
}

@media screen and (min-width: 720px) {
  .childtask {
    width: 690px;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;

    &__name {
      &_img {
        width: 75px;
        height: 75px;
      }
      &_info {
        flex-direction: column;
        align-items: flex-start;
        height: 61px;
        padding-left: 20px;
      }
      &_text {
        font-size: 22px;
        line-height: 26px;
      }
      &_mark {
        margin-left: 30px;
        font-size: 22px;
        line-height: 26px;
        &::before {
          top: 1px;
        }
      }
    }

    &__info {
      margin-top: 8px;
      margin-right: 9px;
      width: 242px;

      &_time {
        align-items: flex-end;
      }
    }
  }
}
