.dropdown {
  width: 133px;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #fff;
  z-index: 2;
  padding: 5px;
  border-radius: 10px;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);

  &__button {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    text-align: center;
    padding: 8px 15px;
    border-radius: 7px;
    transition: 250ms;

    &:hover {
      background-color: #ffbe9d;
      color: white;
    }
  }
}
