.container {
  min-width: 320px;
  min-height: 100vh;
  max-height: 100%;
  background-color: #ff8626;
  background-size: cover;
  text-align: center;
}

.authMenu__logo {
  padding-top: 15px;
}

.authMenu__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding: 50px 20px 0;
}

.authMenu__sub {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: left;
  padding: 20px 20px;
}

.btn {
  display: flex;
  flex-direction: column;
}

.btn__in,
.btn__out {
  font-family: Rubik;
  width: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 15px auto;
  padding: 12px 18px;
  border: 1px solid #ffffff;
  background-color: #ff8626;
  box-sizing: border-box;
  border-radius: 20px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn__in:hover,
.btn__out:hover {
  background-color: #ffffff;
  color: #ff8626;
  
}

.authDesktop {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-auto-rows: auto 1fr;
  }
  .authMenu {
    max-width: 595px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .authMenu__title {
    font-size: 42px;
    line-height: 50px;
    padding: 50px 20px 0;
  }

  .authMenu__sub {
    font-size: 22px;
    line-height: 26px;
    padding: 20px 20px;
  }
  .btn {
    display: grid;
    grid-template-columns: 184px 184px;
    grid-gap: 15px;
    justify-content: center;
  }
  .btn__in,
  .btn__out {
    width: 184px;
  }
  .authDesktop {
    display: block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  .authMain {
    position: absolute;
    width: 100%;
    height: 70%;
    left: 34px;
    z-index: 2;
    background-image: url('../../assets/images/authPage/main.svg');
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    background-size: 100%;
    transform: matrix(0.9, 0, 0.57, 1, 0, 0);
    margin-left: 130px;
  }
  .authPresents {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 34px;
    top: 115px;
    z-index: 1;
    background-image: url('../../assets/images/authPage/presents.svg');
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    opacity: 0.8;
    background-size: 100%;
    transform: matrix(0.9, 0, 0.57, 1, 0, 0);
    margin-left: 130px;
  }
  .authSasha {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 34px;
    top: 272px;
    background-image: url('../../assets/images/authPage/sasha.svg');
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.14);
    opacity: 0.6;
    background-size: 100%;
    transform: matrix(0.9, 0, 0.57, 1, 0, 0);
    margin-left: 130px;
  }
}

@media (min-width: 1240px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    text-align: left;
  }
  .authMenu__logo {
    padding-left: 20px;
  }
  .main {
    margin-top: 100px;
    text-align: left;
  }
  .authMenu__title {
    font-size: 42px;
    line-height: 50px;
  }

  .authMenu__sub {
    font-size: 22px;
    line-height: 26px;
  }
  .btn {
    display: grid;
    grid-template-columns: 184px 184px;
    grid-gap: 15px;
    justify-content: center;
  }

  .btn__in,
  .btn__out {
    width: 184px;
  }
  .authDesktop {
    height: 84.2%;
    max-height: 100%;
    /* overflow-x: hidden; */
    margin-top: 100px;
  }
  .authPresents {
    top: 120px;
    height: 70%;
    background-size: auto 100%;
  }
  .authSasha {
    height: 60%;
    top: 255px;
    background-size: auto 100%;
  }
}
