.container {
    position: absolute;
    top: 0;
    right:0;
    /* padding: 2px; */
    border-radius: 15px;
    width: 120px;
    color:white;
    background-color: rgba(255, 0, 0, 0.555);
    box-shadow: 2px 2px 4px -2px black;
    display: flex;
    justify-content:center;
    align-items: center;
}


.text {
    font-size: 14px;
}