.presentItem_container {
  width: 280px;
  min-height: 290px;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.presentItem_changePresent {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.presentItem_button__submenu {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
}

.presentItem_image__subMenu {
  padding-right: 14px;
  padding-left: 14px;
  align-self: center;
}

.presentItem_subMenu {
  position: absolute;
  padding:5px;
  z-index: 2;
  /* width: 133px;
  height: 88px; */
  top: 26px;
  right: 16px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.presentItem_subMenu__angle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 4px;
  z-index: -1;
  transform: rotate(-45deg) skew(-45deg);
}

.presentItem_subMenu li:nth-child(2) {
  margin-top: 7px;
}

.presentItem_subMenu__button {
  width: 123px;
  height: 34px;
  border-radius: 7px;
  outline: none;
  background-color: #fff;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #828282;
  cursor: pointer;
}

.presentItem_subMenu__button:hover {
  color: #fff;
  background: #ffbe9d;
  transition: 250ms;
}

.presentItem_changePresent {
  height: 21px;
}

.presentItem_images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
}

.presentItem_mainImage {
  align-self: center;
  border-radius: 20px;
  width: 260px;
  height: 147;
  z-index: 0;
}

.presentItem_genderImage {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 15px;
}

.presentItem_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.presentItem_name {
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-left: 20px;
}

.presentItem_cost {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  text-transform: capitalize;
  color: #333333;
  padding-right: 20px;
  position: relative;
}

.presentItem_cost::before {
  content: '';
  background: url('../../assets/AddChildForm-Images/Star.svg') no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -20px;
  top: 5px;
}

.name_star {
  padding:4px 2px 2px 2px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color:red;
  position: relative;
}


.name_star::after {
  content: '';
  background: url('../../assets/InformationOnChild-Images/Star11.svg') no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: -28px;
  top: 3px;
  z-index: 10;
}

.presentItem_button {
  align-self: center;
  width: 120px;
  height: 39px;
  border: 1px solid #ffbe9d;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ff8626;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.presentItem_block__button {
  display: flex;
  flex-direction: column;
}

.presentItem_button:hover {
  background: #ffdfcf;
  transition: 250ms;
}

.box_overlay {  
  position:absolute;
  top: 5px;
  left: 16px;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}
.name_child {
  position:absolute;
  top: 0;
  left: 6px;
  /* width: 220px; */
  height: 40px;
  border-radius: 20px;
  background-color:#fff;
  z-index: 5;
  color: #333333;
  padding: 4px 34px 4px 34px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}




@media (min-width: 768px) {
  .presentItem_container {
    width: 337px;
    min-height: 296px;
  }

  .presentItem_mainImage {
    width: 317px;
    height: 179px;
  }

  .presentItem_titleAndButton {
    display: flex;
    justify-content: space-between;
  }

  .presentItem_title {
    flex-direction: column;
    justify-content: flex-start;
  }

  .presentItem_block__button {
    padding-right: 10px;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  .presentItem_cost {
    padding-left: 43px;
    align-self: flex-start;
    text-align: start;
  }

  .presentItem_cost::before {
    left: 20px;
    top: 5px;
  }
}
