.spacer {
  height: 50px;
}
.container {
  padding-bottom: 50px;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 40px;

  align-items: center;
}

.habitsInfo_button {
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
}
.habitsInfo_button__button {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  width: 220px;
  height: 44px;
  cursor: pointer;
  outline: none;
  background-color: #ff8626;
}
