.tasksContainer_container {
  width: 280px;
}

.tasksContainer_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.tasksContainer_genderImage {
  width: 30px;
  height: 30px;
}

.tasksContainer_name {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
  align-self: center;
  margin-left: 15px;
}

.tasksContainer_alternative {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
  align-self: center;
}
